.corbidev-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.corbidev-modal {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    outline: none;
}
